@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
*{
    margin: 0;
    padding: 0;
}

.container{
    background: url(base.jpg);
    height: 100vh;
    background-size: 100% 100%;
}

.container .navbar{
    width: 100%;
    height: 80px;
    background:rgba(82, 70, 134, 0.4)
}

.navbar .logo{
    display: inline-block;
    margin-left: 50px;
    margin-top: 5px;
}

.navbar .logo a{
    background: url(logo.png);
    text-decoration: none;
    font-size: 30px;
    font-family: sans-serif;

}

.navbar ul{
    float: right;
    margin-right: 20px;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin:0 8px;
    line-height: 80px;

}

.navbar ul li a{
    color:antiquewhite;
    text-decoration: none;
    font-size: 20px;
    padding: 6px 13px;
    font-family: Roboto;
    transition: .5s;
}

.navbar ul li a.active,
.navbar ul li a:hover{
    background:#00ffc881;
    border-radius: 2px;
}

.container .center{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: sans-serif;
    user-select: none;

}

